VR_test/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
VR_test/Library/PackageCache/com.unity.burst@1.8.21/.Runtime/libburst-llvm-19.dylib filter=lfs diff=lfs merge=lfs -text
VR_test/Library/PackageCache/com.unity.burst@1.8.21/.Runtime/libburst-llvm-18.dylib filter=lfs diff=lfs merge=lfs -text
/main/best_model.h5 filter=lfs diff=lfs merge=lfs -text
/main/resnet50_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/model/best_model.h5 filter=lfs diff=lfs merge=lfs -text
/model/resnet50_model.pth filter=lfs diff=lfs merge=lfs -text
/model/resnet50_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/VR_test/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/VR_test/Library/PackageCache/com.unity.burst@1.8.21/.Runtime/libburst-llvm-18.dylib filter=lfs diff=lfs merge=lfs -text
/VR_test/Library/PackageCache/com.unity.burst@1.8.21/.Runtime/libburst-llvm-19.dylib filter=lfs diff=lfs merge=lfs -text
/server/model/best_model.h5 filter=lfs diff=lfs merge=lfs -text
/server/model/resnet50_model.pth filter=lfs diff=lfs merge=lfs -text
/server/model/resnet50_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/unitree/Desktop/doubao2.0/main/best_model.h5 filter=lfs diff=lfs merge=lfs -text
/unitree/Desktop/doubao2.0/main/resnet50_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/unitree/doubao3_0/main/best_model.h5 filter=lfs diff=lfs merge=lfs -text
/unitree/doubao3_0/main/resnet50_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/unitree/doubao4_1/main/best_model.h5 filter=lfs diff=lfs merge=lfs -text
/unitree/doubao4_1/main/resnet50_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
/unitree/project-3/best_model.h5 filter=lfs diff=lfs merge=lfs -text
/unitree/project-3/resnet50_model/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
